body a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
input {
  color: #8e979f;
}

/* Navbar */
nav {
  background-color: #ffffff !important;
}
.navbar-brand {
  color: black;
  font-weight: 700;
}
.nav-link {
  color: #115779;
}
.signUpBtn {
  border-radius: 4px;
  padding: 10px;
  border: 0.5px solid #115779;
  background-color: #ffffff;
}
.loginBtn {
  border-radius: 4px;
  padding: 10px;
  background-color: #115779;
  color: #ffffff;
  border: none;
}
/* End of Navbar */

/* Sign up Modal */
.suffixGroup {
  position: relative;
}
.suffixLabel {
  position: absolute;
  left: 25px;
  font-size: 12px;
}
#suffix {
  padding-top: 12px;
  padding-bottom: 0;
}

.signupSubmit {
  height: 50px;
  width: 150px;
  border-radius: 99px;
  background-color: #115779;
  color: #ffffff;
  font-weight: 700;
  border: none;
}
.signupSubmit:hover {
  background-color: #ffffff;
  border: 2px solid #115779;
  color: #115779;
}
/* End of Sign up Modal */

/* Login dropdown */
.dropdown-menu {
  width: 350px;
}
.logInSubmitBtn {
  background-color: #115779;
  color: #ffffff;
  font-weight: 700;
}
.logInSubmitBtn:hover {
  background-color: transparent;
  color: #115779;
  border: 1px solid #115779;
}
.forgotPassword {
  color: #115779;
  font-size: 14px;
}

.no-arrow::after {
  display: none;
}

/* Media Queries for small, medium and large Screen */
@media (max-width: 576px) {
  /* Media query for dropdown menu */
  .dropdown-menu {
    right: 0;
  }
}
@media (min-width: 768px) {
  /* Media query for Sign up modal */
  .modal-dialog.modal-xl {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  /* Media query for Sign up modal */
  .modal-dialog.modal-xl {
    max-width: 1140px;
  }
}
